<ul class="nav">
    <li class="first">
        {% if has_previous %}
            <a id="blog_previous" href="{% url 'mises:post' previous %}">&laquo; Edellinen</a>
    </li>
    <li>
            <a id="blog_index" href="{% url 'home' %}">Blog</a>
        {% else %}
            <a id="blog_index" href="{% url 'home' %}">Blog</a>
    </li>
        {% endif %}

    <li>
        {% if has_next %}
            <a id="blog_next" href="{% url 'mises:post' next %}">Seuraava &raquo;</a>
        {% endif %}
    </li>
</ul>

