{% extends "base.html" %}
{% load mezzanine_tags %}
{% block content %}
                {% for post in blog_posts.object_list %}
                    <div class="box blogteaser">
                        <div class="cont">
                            <!-- RSS here
<a href="/dailyarticles.xml" title="Subscribe to Mises Institute Daily Articles" class="rss">rss</a>
                            -->
                            <h2>
                                <a href="{{ post.get_absolute_url }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkTitle">{{ post.title }}</a>
                            </h2>
                            <p class="author">
                                {{ post.publish_at|date|capfirst }}
                                kirjoittanut
                                <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkAuthor" href="{% url user post.user.username %}">{{ post.user.first_name }} {{ post.user.last_name }}</a>
                            </p>
                            {% if post.featured_image %}
                            <div class="bord-se">
                                <div class="bord-ne">
                                    <div class="bord-s">
                                        <a href="{{ post.get_absolute_url }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkImage">
                                            <img src="{{ MEDIA_URL }}{% thumbnail post.featured_image 100 75 %}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_imgStory" style="margin: 5px;" alt="Thumbnail" height="75" width="100">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <p>
                                {{ post.description|safe }}
                                <a href="{{ post.get_absolute_url }}" class="more" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkMore">lue lisää…</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
{% endblock content %}

