{% extends "base.html" %}
{% load mezzanine_tags %}

{% block extra_head %}
    <meta property="fb:admins" content="816080216" />
{% endblock extra_head %}

{% block sidebar %}
<script
src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like-box
href="http://www.facebook.com/pages/Mises-instituutin-stream/155517304512872"
width="300" show_faces="false" stream="true" header="false"></fb:like-box>

    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:activity site="mises.fi" width="300" height="300" header="true" font="" border_color="" recommendations="false"></fb:activity>
{% endblock sidebar %}

{% block title %}
{% endblock %}

{% block main %}
<div id="FeaturedArticles">
    {% pagination_for blog_posts %}
                {% for post in blog_posts.object_list %}
                    <div class="box blogteaser">
                        <div class="cont">
                            <!-- RSS here
<a href="/dailyarticles.xml" title="Subscribe to Mises Institute Daily Articles" class="rss">rss</a>
                            -->
                            <h2>
                                {% if post.status == 1 %}Julkaisematon: {% endif %}<a href="{{ post.get_absolute_url }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkTitle">{{ post.title }}</a>
                            </h2>
                            <p class="author">
                                {{ post.publish_at|date|capfirst }}
                                kirjoittanut
                                <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkAuthor" href="{% url 'mises:user' post.user.username %}">{{ post.user.first_name }} {{ post.user.last_name }}</a>
                                {% if post.status == 1 %} (vedoksissa){% endif %}
                            </p>
                            {% if post.featured_image %}
                            <div class="bord-se">
                                <div class="bord-ne">
                                    <div class="bord-s">
                                        <a href="{{ post.get_absolute_url }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkImage">
                                            <img src="{{ MEDIA_URL }}{% thumbnail post.featured_image 100 75 %}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_imgStory" style="margin: 5px;" alt="Thumbnail" height="75" width="100">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <p>
                                {{ post.description|safe }}
                                <a href="{{ post.get_absolute_url }}" class="more" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkMore">lue lisää…</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
</div>
{% endblock main %}

